body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f9fa;
}
nav {
    background-color: #004080;
    padding: 10px;
}
nav .nav-item .nav-link {
    color: white !important;
}
nav .nav-item .nav-link:hover {
    text-decoration: underline;
}
section {
    padding: 40px 20px;
}
h2, h3, h4, h5 {
    color: #004080;
}
table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    border: 1px solid #004080;
    text-align: center;
}
footer {
    background-color: #004080;
    color: white;
    padding: 20px 0;
    text-align: center;
}
footer a {
    color: white;
}
footer a:hover {
    color: #ffcc00;
}
.form-group {
    margin-bottom: 15px;
}
thead th{
    background-color: aqua;
}