h2{
    text-align: center;
    background-color: darkblue;
    color: white;
    padding: 20px;

}
th{
    font-size: larger;
    background:  darkblue;
    color: white;
    padding: 20px;
    margin: 30px;
    
}


button[type=submit]{
    background-color: blue;
    padding: 10px;
    font-size: large;
    color: white;
}

#purchase{
    display: flexbox;
    background-color: aliceblue;
    text-decoration: wavy;
    padding: 10px 10px;
    margin: 10px 10px;
    width: 100%;
}

td{
    background-color: aquamarine;
    padding: 10px 10px;
    width: 100%;
    margin: 10px 10px;
}