


h1{
    background: darkblue;
    color: white;
    padding: 20px;
    text-align: center;
}



    body {
        background-image: url(public/Images/istockphoto-1269547854-612x612.jpg);
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
        height: 100vh; 
        opacity: 1;
        font-size: larger;
    }
    